:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --whitecolor-60color: rgba(255, 255, 255, 0.6);
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --logo-black: #000000;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --background-item-footer: #44454E;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--primary-white-color)
}
ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0px;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.page-header {
  border-bottom: 1px solid var(--border-color);
}

/*Лого*/
.logo {
  font-family: 'Raleway';
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}

.logo-header {
  padding: 24px 0 25px;
  color: var(--logo-black);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer {
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*Навігація*/
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding: 32px 0;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.active-link {
  position: relative;
  color: var(--accent-color);
}

.active-link::after {
  position: absolute;
  bottom: -3%;
  left: 0%;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.auth-nav {
  display: flex;
}

.auth-nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: var(--text-color);
  fill: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.auth-nav-icon {
  margin-right: 10px;
}

/*Шапка*/
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section,
.page-footer {
  background-color: var(--dark-background-color);
}

.main-section {
  padding: 200px 0 200px;
}

.main-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0px auto 30px;
}

.main-button {
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 32px;
}

/*Особенности*/
.feature-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--light-background-color);
  border-radius: 4px;
}

.feature-list-item {
  width: 270px;
  height: 251px;
}

.feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list-title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Чим ми займаємось*/
.work {
  padding-top: 0px;
}

.work-list {
  display: flex;
  margin-top: 50px;
  padding: 0px;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.work-picture {
  position: relative;
}

.work-picture::after {
  position: absolute;
  bottom: 0px;
  left: 0%;
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-picture-text {
  display: block;
  position: absolute;
  bottom: 27px;
  ;
  left: 50%;
  transform: translate(-50%);
  height: 16px;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  z-index: 1;
  white-space: nowrap
}

/*Наша команда*/
.team {
  background-color: var(--light-background-color);
}

.team-list {
  display: flex;
  padding: 0px;
  margin: 50px 0 0;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Соціальні мережі*/
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/*Клієнти*/
.client-list {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*Підвал*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  display: flex;
  align-items: baseline;
}
.contact-info {
  margin-right: 70px;
}
.address-list {
  width: 231px;
}
.addres-info {
  margin-top: 20px
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.address-list-map {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration-line: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link {
  color: var(--whitecolor-60color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration-line: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-map:hover,
.address-list-map:focus {
  color: var(--accent-color);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-media h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--primary-white-color);
  background-color: var(--background-item-footer);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription {
  margin-left: 89px;
}
.subscription-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.subscription-input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--box-shadow-color));
  border-radius: 4px;
  background-color: transparent;
}
.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--whitecolor-60color);
}
.subscription-input:focus-visible {
  outline: 0px transparent;
}
.subscription-input:focus-within {
  border: 1px solid var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--whitecolor-60color);
}
.subscription-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 0px;
  width: 200px;
  height: 50px;
  border: 0px;

  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  cursor: pointer;
}
.subscription-icon {
  margin-left: 10px;
}


/*ПОРТФОЛІО*/
/*Фільтри*/
.container .portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-button {
  background-color: var(--light-background-color);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover,
.filters-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*Проекти*/
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.projects-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.projects-link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-content {
  padding: 20px 24px;
  border: 1px solid var(--border-color)
}

.projects-title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects-link:hover,
.projects-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-picture {
  position: relative;
  overflow: hidden;
}
.projects-action-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  text-decoration-line: none;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.projects-action {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}

.projects-link:hover .projects-action,
.projects-link:focus .projects-action {
  transform: translate(-50%, -50%) translateY(0%);
}

/*МОДАЛЬНЕ ВІКНО*/
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
  
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}
.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.form {
  padding: 40px;
}
.form-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form-input {
  position: relative;
  margin-top: 4px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px
}
.form-label-textarea {
  display: flex;
  flex-direction: column;;
  height: 120px;
  
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form-textarea {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form-textarea::placeholder{
  border-radius: 4px;
  color: var(--placeholder-color)
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 0px transparent;
}

.form-input:focus-within,
.form-textarea:focus-within {
  border: 1px solid var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label:focus-within {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-lable {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
}
.checkbox-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url(../images/check.svg);
}
.checkbox-input:checked + .checkbox-icon {
  width: 16px;
  height: 15px;
  background-image: url(../images/checkactive.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox-download {
  color: var(--accent-color);
}
.form-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: none;
  cursor: pointer;
}