.client-list {

  @media (max-width: 1999px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include for-tablet-only {
    margin-left: -30px;
  }
  @include for-desktop {
    @include centeredFlex($type: flex);
    margin-top: 50px;
  }
  
    
  }
  .client-list__item {
    @media (max-width: 1199px) {
      margin-top: 30px;
      margin-left: 30px;
    }

    @media (min-width: 480px) and (max-width: 767px) {
      flex-basis: calc((100% - 60px) / 2);
      width: 210px;
      &:nth-child(2n + 1) {
        margin-left: -30px;}
    }

    @include for-tablet-only {
      flex-basis: calc((100% - 90px) / 3);
    }

    @include for-desktop {
      width: 170px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

  }
  
  .client-list__link {
    @include centeredFlex($type: flex);
    height: 92px;
    fill: var(--icon-color);
    border: 1px solid var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;
    @include animation(fill border);

    &:hover,
    &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);

    @include for-desktop {
      width: 170px;
    }
  }
  }