.feature-list {
    /*display: flex;
    padding: 0px;
    margin: 0px;*/


    @include for-tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -30px;
      margin-left: -30px
    } 

    @include for-desktop {
      display: flex;
      padding: 0px;
      margin: 0px;
    }
  }
 
  .feature-list__item {
    max-width: 450px;
    height: 226px;
    
    @include for-tablet-only {
      width: 354px;
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100% - 60px) / 2);
      
    }
    @include for-desktop {
      width: 270px;
      height: 251px;
      &:not(:last-child) {
      margin-right: 30px;
    }
    }
      
  }
   
  .feature__picture {
    @include centeredFlex($type: flex);
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--light-background-color);
    border-radius: 4px;
  }

  .feature-list__title {
    margin-bottom: 10px;
    color: var(--title-color);
  }
  
  .feature-list__text {
    @include text-size(14px, 1.71, $spacing: 0.03em);
  }