  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 70px;

    &__item:not(:last-child) {
      margin-right: 8px;
    }

    @media screen and (max-width:767px) {
      &__item:nth-last-child(-n + 2) {
        margin-top: 15px;
      }
    }
    
    @include for-tablet {
      @include centeredFlex($type: flex);
      margin-bottom: 15px;
    }
    @include for-desktop {
      margin-bottom: 50px;
    }
}

.filters__button {
  text-align: center;
  background-color: var(--light-background-color);
  color: var(--title-color);
  font-weight: 500;
  @include text-size(16px, 1.62, $spacing: 0.03em);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  @include animation(background-color color box-shadow);
  
  &:hover,
  &:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
}
