.overlay {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/Header-mobile.jpg);
  
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Header-mobile@2x.jpg);
  }
  

  @include for-tablet {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/Header-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Header-tablet@2x.jpg);
    }
  }
  @include for-desktop {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/Header-desktop.jpg);
      
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Header-desktop@2x.jpg);
    }
  }
    
  }
  
  .main-section {
    padding: 118px 0 118px;
    background-color: var(--dark-background-color);

    @include for-desktop {
      padding: 200px 0 200px;
    }
  }
  
  .main__title {
    color: var(--primary-white-color);
    margin: 0px auto 30px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    @include text-size(26px, 1.615, $spacing: 0.06em);
    max-width: 360px;



    @include for-desktop {
      @include text-size(44px, 1.36, $spacing: 0.06em);
      max-width: 696px;
    }
  }
  
  .main__button {
    @include centeredFlex($type: flex);
    margin: 0 auto;
    padding: 10px 32px;
  }