.menu__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 3;

    @include for-tablet {
      display: none;
    }
  }
  .icon__close {
    display: none;
  }
  .is-open .icon__close {
    display: block;
  }
  .is-open .icon__menu {
    display: none;
  }
  .menu__button {
    @include animation(fill color);
    &:hover,
    &:focus {
      fill: var(--accent-color);
      }
  }

  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    background-color: var(--primary-white-color);

    &.is-open{
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      height: 100%;
      margin: 0 auto;

      @include for-tablet {
        display: none;
      }
    }
  }
  
  .mob-menu__item {
    margin-bottom: 32px;
  }
  .mob-menu__link {
    font-weight: 500;
    @include text-size(40px, 1.175, $spacing: 0.02em);
    color: var(--title-color);
    text-decoration-line: none;
    @include animation(color);
    z-index: 1;

    &:hover,
    &:focus,
    &.mob-menu__link--active {
    color: var(--accent-color);
  }
  }
  .mob__tel {
    font-weight: 500;
    @include text-size(34px, 1.176, $spacing: 0.02em);
    color: var(--accent-color);
  }
  .mob__mail {
    font-weight: 500;
    @include text-size(24px, 1.167, $spacing: 0.02em);
    margin-top: 32px;
  }
  .mob-social {
      display: flex;
      flex-wrap: wrap;
      margin-top: 64px;
      &__item:not(:last-child) {
        margin-right: 20px;
      }
  }
  .mob-social__link {
    font-weight: 500;
    @include text-size(18px, 1.222, $spacing: 0.02em);
    color: var(--accent-color);
    text-decoration-line: none;
  }