.page-header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
}
.container__page-header {
  @include for-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  }
  .main-nav {
    display: flex;
    align-items: center;

    @include for-mobile-only {
      justify-content: space-between;
    }
  }
  
  .site-nav {
    display: none;

    @include for-mobile-only {
      width: 480px;
    }

    @include for-tablet-only {
      display: flex;
      margin-left: 88px;
      width: 294px;
      &__item:not(:last-child) {
        margin-right: 50px;
      }
    }
    @include for-desktop {
      display: flex;
      margin-left: 93px;
      &__item:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  
  .site-nav__link {
    display: block;
    padding: 32px 0;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    @include animation(color);

    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }

    .site-nav__link--active {
    position: relative;
    color: var(--accent-color);

    &::after {
        position: absolute;
        bottom: -3%;
        left: 0%;
        content: "";
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
      }
  }

  .auth-nav {
    display: none;
    
      @include for-tablet {
        display: block;
        
        &__item:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      @include for-desktop {
        display: flex;
        &__item:not(:last-child) {
        margin-right: 50px;
      }
      }
  }
  .auth-nav__link {
    display: none;
    
    @include for-tablet {
      display: flex;
      flex: column;
      color: var(--text-color);
      fill: var(--text-color);
      font-weight: 500;
      @include text-size(12px, 1.17, $spacing: 0.02em);
      text-decoration-line: none;
      @include animation(fill color);
    }

    @include for-desktop {
      @include centeredFlex($type: flex);
      padding: 32px 0;
      color: var(--text-color);
      fill: var(--text-color);
      font-weight: 500;
      @include text-size(14px, 1.4, $spacing: 0.02em);
      text-decoration-line: none;
      @include animation(fill color);
    }
    
  
    &:hover,
    &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  }
  
  .auth-nav__icon {
    @include for-tablet {
      margin-right: 8px;
    }
    @include for-desktop {
      margin-right: 10px;
    }
  }

  