.projects {
    display: flex;
    flex-wrap: wrap;
    
    @include for-tablet {
      margin-top: -30px;
      margin-left: -30px;
    }
  }
  
  .projects__item {
    width: 100%;
    
    height: 404px;

    @media screen and (max-width: 767px) {
      width: 450px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @include for-tablet {
      width: 354px;
      margin-top: 30px;
      margin-left: 30px;
      text-align: center;
      flex-basis: calc((100% - 60px) / 2);
      &:nth-child(-n + 2) {
          height: 440px;
        }
    }
    @include for-desktop {
      width: 370px;
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100% - 90px) / 3);
    }
  }

  .projects__link {
    text-decoration: none;
    @include animation(box-shadow);

    &:hover,
    &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }
  
  .projects__content {
    padding: 20px 24px;
    border: 1px solid var(--border-color);
  }
  
  .projects__title {
    margin-bottom: 4px;
    color: var(--title-color);
    font-weight: 700;
    @include text-size(18px, 2, $spacing: 0.06em);
  }
  
  .projects__text {
    color: var(--text-color);
    @include text-size(16px, 1.88, $spacing: 0.03em);
  }
  .project1 {
    @include for-tablet-only {
      padding-bottom: 56px;
    }
    
  }

  .projects__picture {
    position: relative;
    overflow: hidden;
    height: 294px;
  }
  
  .projects-action {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) translateY(100%);
    background: rgba(33, 150, 243, 0.9);
    @include animation(transform);

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 322px;
        height: 168px;
        text-decoration-line: none;
        @include text-size(18px, 1.56, $spacing: 0.03em);
        color: var(--primary-white-color);
      }
  }
  
  .projects__link:hover .projects-action,
  .projects__link:focus .projects-action {
    transform: translate(-50%, -50%) translateY(0%);
  }