.team {
    background-color: var(--light-background-color);
  }
  
  .team-list {
    
    &__info {
      padding-top: 30px;
      padding-bottom: 24px;
    }

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
    @include for-tablet-only {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 768px;
      margin-left: -30px
    } 

    @include for-desktop {
      display: flex;
    padding: 0px;
    margin: 50px 0 0;

    &__info {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
    
  }

  .team-list__item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 30px;

      @include for-tablet-only {
        width: 354px;
        margin-top: 30px;
        flex-basis: calc((100% - 60px) / 2);
        &:nth-child(2n + 2) {
          margin-left: 30px;}
      }
      
      @include for-desktop {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
  }

  .team-list__title {
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 500;
    text-align: center;
    @include text-size(16px, 1.19, $spacing: 0.03em);
  }
  
  .team-list__text {
    text-align: center;
    @include text-size(16px, 1.19, $spacing: 0.03em);
  }