.body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-white-color)
  }
  ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0px 0px;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 1200px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;*/

  
    @include for-tablet {
      max-width: 768px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    @include for-desktop {
      max-width: 1200px;
    }
  }
  
  .section {
    padding: 94px 0px;
  }
  .main-section,
  .page-footer {
    background-color: var(--dark-background-color);
  }
  
  .section-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .button {
    font-weight: 700;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    @include text-size(16px, 1.88, $spacing: 0.06em);
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    cursor: pointer;}
    
  .upertext {
    font-weight: 700;
    @include text-size(14px, 1.14, $spacing: 0.03em);
    text-transform: uppercase;
  }