.body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-white-color)
  }
  ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0px 0px;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .container {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (max-width:767px) {
      max-width: 480px
    }

    @include for-tablet-only {
      max-width: 768px;
    }

    @include for-desktop {
      max-width: 1200px;
    }
  }
  
  .section {
    padding: 60px 0px;
    @include for-desktop {
      padding: 94px 0px;
    }
  }
  .main-section,
  .page-footer {
    background-color: var(--dark-background-color);
  }
  
  .section__title {
    color: var(--title-color);
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 1199px) {
      @include text-size(28px, 1.178, $spacing: 0.03em);
      margin-bottom: 30px;
    }
    @include for-desktop {
      @include text-size(36px, 1.167, $spacing: 0.03em);
    }
  }

  .button {
    font-weight: 700;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    @include text-size(16px, 1.88, $spacing: 0.06em);
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    cursor: pointer;}
    
  .upertext {
    font-weight: 700;
    @include text-size(14px, 1.14, $spacing: 0.03em);
    text-transform: uppercase;

    @media screen and (max-width:767px) {
      text-align: center;
    }
  }